.hero {
  background: linear-gradient(
      0deg,
      rgb(4, 3, 54) 0%,
      rgb(4, 3, 64) 5%,
      rgba(4, 3, 84, 0.6) 100%
    ),
    url(../img/index-1.png) no-repeat center center / cover;
    
    
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section {
  flex-direction: column;
  background: linear-gradient(
      0deg,
      transparent 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 85%,
      transparent 100%
    ),
    linear-gradient(
      180deg,
      transparent 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 85%,
      transparent 100%
    ),
    url("/assets/pattern/bagobo-white.png") center no-repeat, #f5f5f5;
}
/* @media screen and (max-width:1200px){.intro-section{padding:5rem 0 2.5rem}}@media screen and (max-width:978px){.intro-section{padding:3.75rem 0 1.25rem}}@media screen and (max-width:600px){.intro-section{padding:2.5rem 0 1.25rem}} */

.intro-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5625rem;
  background: url("/assets/design/intro.png") top 40% center no-repeat;
  width: 75rem;
  background-size: 93.3125rem 32.6875rem;
  margin-bottom: 10rem;
}
.intro-section .wrapper .intro-title {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 1.2;
  text-transform: uppercase;
  background: linear-gradient(
    270deg,
    rgb(47, 53, 144) 1%,
    rgb(168, 23, 33) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
}

/* @media screen and (max-width:1200px){.intro-section .wrapper .item-hashtag{font-size:3rem}}@media screen and (max-width:978px){.intro-section .wrapper .item-hashtag{font-size:2.625rem}}@media screen and (max-width:768px){.intro-section .wrapper .item-hashtag{font-size:2.25rem}}@media screen and (max-width:600px){.intro-section .wrapper .item-hashtag{font-size:1.875rem}}@media screen and (max-width:480px){.intro-section .wrapper .item-hashtag{font-size:1.5rem}} */

.intro-section .wrapper p {
  margin: 0;
  max-width: 31.5625rem;
}
/* @media screen and (max-width:720px){.section-links .wrapper ul{flex-direction:column;align-items:center;border:none}} */
.quick-links .wrapper {
  all: unset;
}

.quick-links {
  padding-top: 1.5rem;
  box-shadow: 0 -1px 0 hsla(0, 0%, 85%, 0.5);
}

.quick-links .title h2 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(47, 53, 144);
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.quick-links .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  /* flex-wrap: wrap; */
  gap: 1.5rem;
}

.quick-links .wrapper a.link {
  /* flex: 40%; */
  box-shadow: 0 0 0 1px black;
  width: 35rem;
  /* padding: 1.5rem 3.5rem; */
  /* margin-bottom: 10px; */
}

.school-level-section {
  flex-direction: column;
  background-color: rgb(4, 3, 84);
  background: linear-gradient(0deg, rgb(4, 3, 54) -10%, transparent 25%),
    linear-gradient(180deg, rgb(4, 3, 54) -10%, transparent 50%),
    url("/assets/pattern/bagobo-ateneo-blue.png") center no-repeat,
    rgb(3, 2, 55);
  color: #ffffff;
  /* margin: 40px auto; */
  padding: 5rem 3rem;
}

.school-level-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;

  font-family: "Open Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

.school-level-cards {
  /* max-width: 70vw; */
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;

  /* flex-direction: column; */
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgb(4, 3, 54);
  overflow: hidden;
  width: 500px;
  display: flex;
  flex-direction: row;
  transition: box-shadow 0.2s, transform 0.2s;
}

.card:hover {
  box-shadow: 0 8px 24px rgba(60, 60, 60, 0.16);
  transform: translateY(-10px);
  transform: scale(1.06);
}

.img {
  width: 45%;
  /* height: auto; */

  object-fit: cover;
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 24px 0 24px;
  width: 55%;
}

.card-content-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  line-height: 1.3;
}

.card-description {
  font-size: 0.85rem;
  color: #555;
  font-weight: 400;
  margin-top: 2px;
  text-align: justify;
}

.arrow {
  font-size: 2rem;
  color: #1a237e;
  margin-left: 12px;
  margin-top: auto;
}

.announcement-section {
  background: linear-gradient(
      0deg,
      transparent 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 85%,
      transparent 100%
    ),
    linear-gradient(
      180deg,
      transparent 50%,
      rgb(255, 255, 255) 50%,
      rgb(255, 255, 255) 85%,
      transparent 100%
    ),
    url("/assets/pattern/bagobo-white.png") center no-repeat, #f5f5f5;
}

.announcement-section .wrapper {
  display: flex;
  flex-direction: row;
}

.upcoming-dates {
  width: 45vw;
}

.feed {
  transform: scale(1.25) translateX(20%);
}

.dates-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #000000;
  padding-bottom: 1rem;
}

.link {
  width: 175px;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid rgb(47, 53, 144);
  color: rgb(47, 53, 144);
  border-radius: 100px;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
  text-align: center;
}

a.link {
  color: rgb(47, 53, 144);
  padding: 0.5rem;
}

.link:hover {
  background-color: rgb(47, 53, 144);
  color: #ffffff;
}

.calendar-accordion-date {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 11%;
  font-weight: 700;
  color: rgb(47, 53, 144);
  line-height: 1;
  box-shadow: 1px 0 0 hsla(0, 0%, 85%, 0.5);
}

.calendar-accordion-date .month {
  font-size: 1rem;
  color: #555555;
  font-weight: 500;
  padding-bottom: 10px;
  text-transform: initial;
  /* line-height: 1; */
}

.calendar-accordion-date .day {
  font-size: 1.5rem;
  font-weight: 700;
}

time {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.calendar-accordion-labels {
  padding: 10px 0 15px 0;
}

.calendar-accordion-label {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 1rem;
  /* margin-top:0; */
  padding-left: 3rem;
}

.calendar-accordion-item {
  box-shadow: 0 -1px 0 hsla(0, 0%, 85%, 0.5);
}

.calendar-accordion-header {
  padding: 0px 0 10px 0;
}
