* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #121212; */
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  /* margin: 40px; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.slide-underline {
  position: relative;
}

.slide-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.slide-underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.slide-underline:not(:hover)::after {
  transform-origin: right;
}

.scroll-down-icon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.scroll-down-icon a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.scroll-down-icon a:hover {
  transform: scale(1.1);
  animation: bounce 1s infinite;
}

/* .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
} */

.scroll-to-top {
  position: fixed;
  background-image: url(../assets/icons/back-to-top-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  animation: bounce 1s infinite;
}

.scroll-to-top:not(:hover)::after {
  transition: all 1s ease;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(0deg, rgb(4, 3, 54) 0%, rgb(4, 3, 64) 5%, rgba(4, 3, 84, 0.6) 100%),#ffffff; */
  background-size: cover;
  color: #ffffff;
  text-align: center;
  position: relative;
  /* margin-bottom: 100px; */
}

.hero .hero-inner {
  width: 70%;
}

.hero .hero-inner h1 {
  font-family: "EB Garamond", serif;
  font-size: 84px;
  /* text-decoration: underline; */
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(255, 255, 255);
  text-underline-offset: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
  margin-bottom: 16px;
}

.hero .hero-inner p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 16px;
  /* display: none; */
}

.hero .hero-inner .hero-btn {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.hero .hero-inner .hero-btn a {
  font-family: 'Open Sans', serif;
  letter-spacing: 4px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.hero .hero-inner .hero-btn .btn-one {
  padding: 1rem 2rem;
  border-radius: 35px;
  border: 2px solid #c3a12a;
  color: #c3a12a;
  margin-bottom: 150px;
  transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.hero .hero-inner .hero-btn .btn-one:hover {
  background: #c3a12a;
  color: #333333;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.hero .hero-inner .hero-btn .btn-two {
  padding: 8px 14px;
  border-radius: 5px;
  background: #a48823;
  color: #fff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
