li a i {
  margin-left: 5px;
}

ul li a {
  font-size: 20px;
  line-height: 1.5;
}

#clusters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.school-wrapper {
  width: 100%;
}

.school-header-container {
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  width: 100%;
}

.divider-line {
  border-top: 2px solid #000000;
  margin: 0 auto 100px auto;
  width: 100%;
  /* max-width: 1320px; */
}

.school-prefix {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  margin: 0 0 10px 0;
}

.school-title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #333333;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

.school-description {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  line-height: 1.6;
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
}

.cluster-card-wrapper {
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 16px 5px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cluster-card-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 20px 7px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.cluster-card {
  display: flex;
  align-items: flex-start;
  color: white;
  background: linear-gradient(to right, #8b0000, #00008b);
  border-radius: 20px;
  /* width: 1320px; */
  width: 100%;
  height: 100%;
  padding: 28px 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #d9d9d900;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  margin: auto 0;
}

.content {
  /* border: 2px solid red; */
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content h2 {
  /* border: 2px solid red; */
  font-size: 28px;
  margin: 0px 0 10px 0;
  font-weight: 600;
  align-self: flex-start;
}

.content p {
  /* border: 2px solid red; */
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 300;
  text-align: justify;
}

.programs {
  background-color: white;
  padding: 0px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.3s ease, padding 0.5s;
}

.programs.show {
  opacity: 1;
  max-height: 1000px;
  padding: 50px;
}

.programs ul {
  margin: 0;
  padding-left: 20px;
  list-style: disc;
}

.programs li {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 991.98px) {
  ul li a {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 620px;
  }  
  
  .school-header-container {
    margin: 75px 0 0 0;
    padding: 0;
  }
  
  .divider-line {
    display: none;
  }
  
  .school-prefix {
    font-size: 16px;
  }
  
  .school-title {
    font-size: 50px;
    font-weight: 700;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
  }
  
  .school-description {
    display: none;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
  
  .cluster-card {
    display: flex;
    align-items: center;
  }
  
  .content h2 {
    font-size: 44px;
  }
  
  .content p {
    display: none;
  }
}

@media (max-width: 767.98px) {
  ul li a {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .school-title, .content h2 {
    font-size: 32px;
  }
  
  .programs.show {
    padding: 25px;
}
}

@media (max-width: 575px) {  
  ul li a {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .school-title {
    font-size: 28px;
  }
  
  .cluster-card-wrapper {
    border-radius: 10px;
  }
  
  .cluster-card {
    padding: 15px 15px;
    border-radius: 10px;
  }
  
  .logo {
    width: 75px;
    height: 75px;
  }
  
  .content {
    margin-left: 15px;
  }
  
  .content h2 {
    font-size: 24px;
  }
}